* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top10 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5rem auto;
    max-width: 50rem;
    background: white;
    color: black;
    padding: 2rem;

}

.list {
    list-style: none;
    padding: 0rem;
    margin: 0;
    width: 15vw;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Anime {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.animeImage {
    width: 10rem;
    height: 10rem;
    border-radius: 8px;
}

.number {
    font-weight: bold;
    min-width: 2rem;
}

.AnimeInfo {
    display: flex;
    flex-direction: column;
}